# ==========================================
# Configurações do Container
# ==========================================
CONTAINER_NAME=mysql_projeto_estudos
DB_PORT:3306

# ==========================================
# Credenciais do Banco de Dados (MySQL)
# ==========================================
DB_ROOT_PASSWORD=senha_root_super_segura
DB_NAME=banco_estudos_db
DB_USERNAME=usuario_app
DB_PASSWORD=senha_app_123